@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Quản lý danh mục";
	Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
}
@section Scripts{
	<script>
		setTimeout(function () {
			$('#msgAlert').fadeOut('slow');
		}, 3000)
	</script>
}


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<a href="#">
					<svg class="glyph stroked home">
						<use xlink:href="#stroked-home"></use>
					</svg>
				</a>
			</li>
			<li class="active">Danh mục</li>
		</ol>
	</div>
	<!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Quản lý danh mục</h1>
		</div>
	</div>
	<!--/.row-->
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-12">

			<div class="panel panel-primary">
				<div class="row">
					<div class="col-lg-12">
						@if (ViewBag.Msg != null)
						{
							<div id="msgAlert" class="alert bg-success" role="alert">
								<svg class="glyph stroked checkmark">
									<use xlink:href="#stroked-checkmark"></use>
								</svg>@ViewBag.Msg<a href="#" class="pull-right">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</div>
						}
						@if (ViewBag.Err != null)
						{
							<div id="msgAlert" class="alert bg-danger" role="alert">
								<svg class="glyph stroked cancel">
									<use xlink:href="#stroked-cancel"></use>
								</svg>@ViewBag.Err<a href="#" class="pull-right">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</div>
						}
						<div class="panel-body">
							<div class="bootstrap-table">
								<div class="table-responsive">

									<a href="/admin/category/add" class="btn btn-danger">Thêm danh mục</a>
									<table class="table table-bordered" style="margin-top:20px;">
										<thead>
											<tr class="bg-primary">
												<th class="text-center">ID</th>
												<th>Tên danh mục</th>
												<th>Thao tác</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var category in Model)
											{
												<tr>
													<td class="text-center">@category.Id</td>
													<td width="60%">@category.Title</td>
													<td>
														<a href="/admin/category/edit/@category.Id" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i> Sửa</a>
														<a href="/admin/category/delete/@category.Id" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</a>
													</td>
												</tr>
											}

										</tbody>
									</table>
								</div>
							</div>
							<div class="clearfix"></div>
							@{
								var PreviousPage = Model.PageNumber - 1;
								var NextPage = Model.PageNumber + 1;
								var step = 1;
							}
							<div id="pagination">
								<ul class="pagination">
									@if (Model.HasPreviousPage)
									{
										<li class="page-item"><a class="page-link" href="/admin/category/@PreviousPage">Trang trước</a></li>
									}
									@if (Model.PageCount > 1)
									{
										<li class="page-item  @(Model.PageNumber==1 ? "active" : "")"><a class="page-link" href="/admin/category/1">1</a></li>
									}
									@if (Model.PageNumber - step > 2 && Model.PageNumber != 2)
									{
										<li class="page-item"><a class="page-link">...</a></li>
									}
									@for (int i = (Model.PageNumber == 1 ? 1 + step : (Model.PageNumber - step < 2 ? Model.PageNumber : Model.PageNumber - step)); i <= (Model.PageNumber == Model.PageCount ? Model.PageCount - 1 : (Model.PageNumber + step >= Model.PageCount ? Model.PageNumber : Model.PageNumber + step)); i = i + step)
									{

										<li class="page-item  @(i==Model.PageNumber ? "active" : "")"><a class="page-link" href="/admin/category/@i">@i</a></li>

									}
									@if (Model.PageNumber + step < Model.PageCount - 1 && Model.PageNumber != Model.PageCount - 1)
									{
										<li class="page-item"><a class="page-link">...</a></li>
									}

									@if (Model.PageCount != 0)
									{
										<li class="page-item  @(Model.PageNumber==Model.PageCount ? "active" : "")"><a class="page-link" href="/admin/category/@Model.PageCount">@Model.PageCount</a></li>
									}
									@if (Model.HasNextPage)
									{
										<li class="page-item"><a class="page-link" href="/admin/category/@NextPage">Trang sau</a></li>
									}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/.row-->
</div>
<!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/chart-data.js"></script>
