@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Site/Shared/SiteLayout.cshtml";

}
@model Product
<!--	Body	-->
<div id="body">
    <div class="container">
        <div class="row">
            <div id="main" class="col-lg-8 col-md-12 col-sm-12">
                <!--	Slider	-->
                @{
                    var partialSlider = await Html.PartialAsync("~/Views/Site/Shared/Slider.cshtml");
                }
                @partialSlider
                <!--	End Slider	-->
                <div id="DH">
                    <div id="DieuHuong">
                        <a href="#">Trang chủ </a>/
                    </div>

                    <div id="DieuHuong">
                        <a href="#">Iphone X</a>
                    </div>
                </div>
                <!--	List Product	-->
                <div id="product">
                    <div>
                        <h1>@Model.Name</h1>
                    </div>
                    <div id="product-head" class="row">
                        <div id="product-img" class="col-lg-6 col-md-6 col-sm-12">
                            <img src="~/images/@Model.Image">
                        </div>
                        <div id="product-details" class="col-lg-6 col-md-6 col-sm-12">
                            <ul>
                                <li id="price-number"><strong>@string.Format("{0:N0} đ",Model.Price)</strong></li>
                                @if(Model.IsStock == true) {
                                    <li id="status">Còn hàng</li>
                                }else{
                                    <li style="color: red" id="status">Hết hàng</li>
                                }
                                <li><span>Công nghệ màn hình: </span>@Model.ScreenTech</li>
                                <!--<li><span>Độ phân giải:</span>@Model.Resolution</li>-->
                                <li><span>Kích thước màn hình:</span>@Model.ScreenSize</li>
                                <li><span>Hệ điều hành:</span> @Model.OperatingSystem</li>
                                <li><span>Vi xử lý: </span>@Model.Processor</li>
                                <li><span>Bộ nhớ trong: </span>@Model.InternalMemory GB</li>
                                <li><span>RAM: </span>@Model.Ram GB</li>
                                <li><span>Dung lượng pin: </span>@Model.BatteryCapacity</li>
                            </ul>
                            @if(Model.IsStock == true) {
                                <div id="order">
                                    <a href="/buy-now/@Model.Id" class="btn-red btn-buy col-lg-7 col-md-7 col-sm-7">
                                        <strong>MUA NGAY</strong>
                                        <span>
                                            " Giao tận nhà (COD) "
                                            <br>
                                            "Hoặc nhận tại cửa hàng"
                                        </span>
                                    </a>
                                    <a href="/add-to-cart/@Model.Id" style="width:43px; display:flex; flex-direction:column; max-width:80px; padding:5px;" title="Thêm vào giỏ hàng" class="add-cart btn-orange btn-buy btn-icon col-lg-5 col-md-5 col-sm-5">
                                        <i class="fas fa-cart-plus"></i>
                                        <label style="font-size:11px;">Thêm giỏ hàng</label>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div id="product-body" class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3>@Model.Name</h3>
                            <p>
                                @Model.Description
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            @{
                var partialSideBar = await Html.PartialAsync("~/Views/Site/Shared/SideBar.cshtml");
            }
            @partialSideBar
        </div>
    </div>
</div>
