
@{
    ViewData["Title"] = "Cập nhật sản phẩm";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
}
@model Product
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cập nhật sản phẩm</h1>
        </div>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-xs-6 col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Cập nhật sản phẩm</div>
                <div class="panel-body">
                    @if (ViewBag.alert != null)
                    {
                        <div id="msgAlert" class="alert bg-danger" role="alert">
                            <svg class="glyph stroked cancel">
                                <use xlink:href="#stroked-cancel"></use>
                            </svg>@ViewBag.alert<a href="#" class="pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>

                    }
                    <form asp-controller="Product" method="post" asp-action="Update" asp-route-id="@ViewBag.product.Id" asp-route-slug="@ViewBag.product.Slug" enctype="multipart/form-data">
                        <div class="row" style="margin-bottom:40px">

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Danh mục</label>
                                    <select asp-for="CatId" class="form-control">
                                        @foreach (var item in ViewBag.categories)
                                        {
                                            var isSelected = (item.Id == ViewBag.product.CatId) ? "selected" : "";
                                            <option value="@item.Id" isSelected>@item.Title</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Tên sản phẩm</label>
                                    <input required asp-for="Name" type="text" class="form-control" value="@ViewBag.product.Name">
                                </div>
                                <div class="form-group">
                                    <label>Giá sản phẩm (Giá chung)</label>
                                    <input required asp-for="Price" type="number" class="form-control" value="@ViewBag.product.Price">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Sản phẩm có nổi bật</label>
                                            <select asp-for="IsFeatured" class="form-control">
                                                <option value="False" >Không</option>
                                                <option value="True">Có</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <select asp-for="IsStock" class="form-control">
                                                <option selected="@(ViewBag.product.IsStock == true ? "selected" : "")" value="True">Còn hàng</option>
                                                <option selected="@(ViewBag.product.IsStock == false ? "selected" : "")" value="False">Hết hàng</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Công nghệ màn hình</label>
                                    <input required asp-for="ScreenTech" value="@ViewBag.product.ScreenTech" type="text" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Hệ điều hành</label>
                                    <input required asp-for="OperatingSystem" value="@ViewBag.product.OperatingSystem" type="text" class="form-control">
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Bộ nhớ trong</label>
                                            <input required asp-for="InternalMemory" value="@ViewBag.product.InternalMemory" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Kích thước màn hình</label>
                                            <input required asp-for="ScreenSize" value="@ViewBag.product.ScreenSize" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Độ phân giải</label>
                                    <input required asp-for="Resolution" value="@ViewBag.product.Resolution" type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Ram</label>
                                            <input required asp-for="Ram" value="@ViewBag.product.Ram" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Dung lượng pin</label>
                                            <input required asp-for="BatteryCapacity" value="@ViewBag.product.BatteryCapacity" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Vi xử lý</label>
                                    <input required asp-for="Processor" value="@ViewBag.product.Processor" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ảnh sản phẩm</label>
                                    <input value="@ViewBag.product.Image" asp-for="Image" id="img" type="file" class="form-control hidden"
                                           onchange="changeImg(this)">

                                    <img id="avatar" class="thumbnail" width="100%" height="350px"
                                         src="~/images/@ViewBag.product.Image">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Thông tin mô tả</label>
                          <textarea required asp-for="Description" id="editor" style="width: 100%; height: 100px;">@ViewBag.product.Description</textarea>

                                </div>
                                <button class="btn btn-success" name="update-product" type="submit">Cập nhật sản phẩm</button>
                                <button class="btn btn-danger" type="reset">Huỷ bỏ</button>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>

    <!--/.row-->
</div>
<!--<input  type="file" name="image" class="form-control hidden" onchange="changeImg(this)">-->
<!--end main-->
<script src="~/admin/js/jquery-1.11.1.min.js"></script>
<script src="~/admin/js/bootstrap.min.js"></script>
<script src="~/admin/js/chart.min.js"></script>
<script src="~/admin/js/chart-data.js"></script>



<script>
    function changeImg(input) {
        //Nếu như tồn thuộc tính file, đồng nghĩa người dùng đã chọn file mới
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            //Sự kiện file đã được load vào website
            reader.onload = function (e) {
                //Thay đổi đường dẫn ảnh
                $('#avatar').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $(document).ready(function () {
        $('#avatar').click(function () {
            $('#img').click();
        });
    });
    </script>